<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/admin-head.css"/>
  <link rel="stylesheet" href="/static/css/category.css"/>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<%-include('../partials/admin-sample-nav')-%>
<%products.forEach((data)=>{%>

  <div class="modal fade" id="deleteconfirmation<%=data._id%>" tabindex="-1" role="dialog" aria-labelledby="deleteconfirmationLabel<%=data._id%>" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to delete the <%=data.name%>?
        </div>
        <div class="modal-footer">
          <button style="background-color: black;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          <a href="/admin/product/delete/<%=data._id%>" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
<%})%>
<section class="main">
  
  <%if(errmsg.length>0){%>
    <div id="errorDiv" class="alert alert-danger d-flex justify-content-center align-items-center"  style="position: absolute;right: 50%; width: 150px;height: 40px;">
      <strong><%=errmsg%>
      </strong>
    </div>
  <%}%>
  <%if(msg.length>0){%>
    <div id="errorDiv" class="alert alert-success d-flex justify-content-center align-items-center"  style="position: absolute;right: 50%; width: 250px;height: 40px;">
      <strong><%=msg%>
      </strong>
    </div>
    <%}%>
  <div class="container">
    <div class="row d-flex header">
      <div class="col-6"><h2>Products</h2></div>
      <div class="col-6 d-flex justify-content-end"><a href="/admin/add-product" class="btn-custom">Add Products</a></div>
    </div>

    <div class="row mt-3">
      <div class="products-main col-12">
        <div class="search col-12">
            <div class="d-flex justify-content-end align-items-center">
              <form action="/admin/product/search" method="post">
                <div class="input-group">
                  <div class="form-outline d-flex p-3">
                    <input type="search" class="form-control" name="search" placeholder="Search">
                        <button id="search-button" type="submit" class="btn btn-custom  mx-2" style="width: 40px;height: 40px;border-radius: 6px;">
                          
                          <lord-icon
                          src="https://cdn.lordicon.com/rlizirgt.json"
                          trigger="hover"
                          colors="primary:#ffffff"
                          style="width:25px;height:25px">
                      </lord-icon>
                        </button>
                  </div>
                  
                </div>
              </form>
            </div>
            <%if(Array.isArray(products)){%>
            <table class="table  table-shadow mt-3">
                <thead>
                    <tr>
                      <th class="text-center">No.</th>

                      <th class="text-center">Product Name</th>
                      <th class="text-center">Stock</th>
                      <th class="text-center">Price</th>
                      <th class="text-center">Discount Price</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Updated Date</th>
                      <th class="text-center">Action</th>
                    </tr>
                </thead>
                <%products.forEach((data)=>{%>
                <tbody>
                    
                  <tr>
                    <td> <div class="table-data"><%=++x%></div> </td>

                    <td><div class="table-data"><img src="<%=data.images[0].mainimage?'/static/product-images/'+data.images[0].mainimage:'/static/images/img-bg.jpg'%>" style="height:44px;width: 44px; border-radius: 50%;"><%=data.name%> </div> </td>
                    <td> <div class="table-data"><%=data.stock%></div> </td>
                    <td> <div class="table-data">₹<%=data.basePrice%></div> </td>
                    <td> <div class="table-data">₹<%=data.descountedPrice%></div> </td>
                    <td> <div class="table-data"><%if(data.stock>0){%>
                      <h6 class="text-success">In stock</h6>
                      <%}else{%>
                      <h6 class="text-danger">out of stock</h6>
                        <%}%></div> </td>
                    <td>
                        <div class="table-data">
                          <% let dt=new Date(data.timeStamp)%>
                          
                          <%=dt.getDate()%>/<%=dt.getMonth()+1%>/<%=dt.getFullYear()%>
                        </div> 
                      </td>
                    <td>
                      <div class="table-data">
                        <a href="/admin/product/edit/<%=data._id%>"><lord-icon
                          src="https://cdn.lordicon.com/qtqvorle.json"
                          trigger="hover"
                          colors="outline:#121331,primary:#646e78,secondary:#ebe6ef,tertiary:#4cb4fd"
                          style="width:25px;height:25px">
                      </lord-icon></a>
                      <a  data-bs-toggle="modal" data-bs-target="#deleteconfirmation<%=data._id%>">
                      <lord-icon
                        src="https://cdn.lordicon.com/exkbusmy.json"
                        trigger="morph"
                        colors="outline:#121331,primary:#646e78,secondary:#4bb3fd,tertiary:#ebe6ef"
                        state="morph-trash-in"
                        style="width:25px;height:25px">
                    </lord-icon></a>
                      </div>
                      
                    </td>
                  </tr>
                    
                </tbody>
                <%})%>


            </table>
            <%}else{%>
              <h1>nothing here to see</h1>
            <%}%>
        </div>
      </div>
    </div>

  </div>
</section>
<script>
  var errorDiv = document.getElementById("errorDiv");
function hideError() {
    if (errorDiv) {
      error.style.display = "none";
    }
  }
setTimeout(hideError, 3000);
</script>
<hr>
<br>
<div class="col-lg-12 d-flex justify-content-end" >
  <nav aria-label="page navigation example ">
      <ul class="pagination" style="margin-right: 40px;">
        <%for(let i=1;i<=count;i++){%>
          <li class="page-item"><a class="page-link" href="/admin/products?page=<%=i%>"><%=i%></a></li>
        <%}%>

      </ul>
  </nav>
</div>

<style>
    a{
    text-decoration: none;
    color: #191919;
  }
</style>
<%-include('../layout/footer')-%>