<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/admin-head.css"/>
  <link rel="stylesheet" href="/static/css/category.css"/>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<%-include('../partials/admin-sample-nav')-%>
<section class="main">
  <div class="container">
    <div class="row d-flex header">
      <div class="col-6"><h2>Customers</h2></div>
      <!-- <div class="col-6 d-flex justify-content-end"><a href="/admin/add-brand" class="btn-custom">Add Brands</a></div> -->
    </div>

    <div class="row mt-3">
      <div class="products-main col-12">
        <div class="search col-12">
            <div class="d-flex justify-content-end align-items-center">
              <form action="/admin/customers/search" method="post">
                <div class="input-group">
                  <div class="form-outline d-flex p-3">
                    <input type="search" class="form-control" name="search" placeholder="Search">
                        <button id="search-button" type="submit" class="btn btn-custom  mx-2" style="width: 40px;height: 40px;border-radius: 6px;">
                          
                          <lord-icon
                          src="https://cdn.lordicon.com/rlizirgt.json"
                          trigger="hover"
                          colors="primary:#ffffff"
                          style="width:25px;height:25px">
                      </lord-icon>
                        </button>
                  </div>
                  
                </div>
              </form>
            </div>
            <%if(Array.isArray(user)){%>
            <table class="table  table-shadow mt-3">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Order</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Join Date</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <%user.forEach((data)=>{%>
                <tbody>
                    
                        <tr>
                          <td><div class="table-data1"><img src="/static/images/img-bg.jpg" style="height:44px;width: 44px; border-radius: 50%; margin-right: 10px;"><span style="font-family: 700;"><%=data.userName%></span></div> </td>
                          <td> <div class="table-data"><%=data.email%></div> </td>
                          <td> <div class="table-data">order</div> </td>
                          <td>
                            <%if(data.status==="Active"){%>
                            <div class="table-data text-white "><span class="bg-success p-1" style="border-radius: 8px;"><%=data.status%></span></div>

                            <%}else{%> 
                             <div class="table-data text-white "><span class="bg-danger p-1" style="border-radius: 8px;"><%=data.status%></span></div>

                            <%}%>
                          </td>
                          <td> <div class="table-data"><%=data.timeStamp%></div> </td>


                          <td>
                            <div class="table-data">
                                <%if(data.status==="Active"){%>
                              <a href="/admin/customers/block/<%=data._id%>" onclick="return confirm('Do you want to Block <%=data.name%> ?')"><img class="icons-img" src="/static/images/lock.png" alt=""></a>
                              <%}else{%>
                              <a href="/admin/customers/unblock/<%=data._id%>" onclick="return confirm('Do you want to Unblock <%=data.name%> ?')"><img class="icons-img" src="/static/images/unlocked.png" alt=""></a>
                                <%}%>
                            </div>
                          </td>
                        </tr>
                    
                </tbody>
                <%})%>


            </table>
            <%}else{%>
              <h1>nothing here to see</h1>
            <%}%>
        </div>
      </div>
    </div>

  </div>
</section>
<hr>
<br>

<style>
    a{
    text-decoration: none;
    color: #191919;
  }
  .icons-img{
    height: 35px;
    width: 40px;
  }
</style>
<%-include('../layout/footer')-%>