<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/add-category.css">
  <link rel="stylesheet" href="/static/css/admin-head.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<%-include('../partials/admin-sample-nav')-%>
<section>
  <div class="container">
    <div class="header">
      <span>Add Category</span>
    </div>
    <form action="/admin/category/edit/<%=category._id%>" method="post" enctype="multipart/form-data">
    <div class="text">
      <div class="textfield mt-5 mb-5">
        <input required type="text" placeholder="Category Name" id="Category_name" name="Category_name" value="<%=category.name%>">
      </div>
    </div>
    <div class="images d-flex justify-content-start">
      <input type="file" name="main" accept="image/*" id="main" required
      onchange="previewImage('main', 'mn')">
      <label for="main">

        <div class="img-main">
          <img class="priview" src="<%=category.images[0].mainimage?'/static/product-images/'+category.images[0].mainimage:'/static/images/img-bg.jpg'%>"  id="mn">
        </div>
      </label>
    </div>
    <div class="action-buttons">
      <div class="cancel-btn">
        <a href="#" class="btn btn-outline" >Cancel</a>
      </div>
      <div class="save-btn">
       <input type="submit" class="btn btn-info text-white" value="SAVE">
      </div>

    </div>
  </form>
  </div>
</section>
<script>
  function previewImage(inputId, imgId) {
        const input = document.getElementById(inputId);
        const img = document.getElementById(imgId);
        // const labeltext = document.getElementById(label)
        // Check if a file was selected
        if (input.files && input.files[0]) {
          const reader = new FileReader();

          // Set up a function to run when the image is loaded
          reader.onload = function (e) {
            img.src = e.target.result;
            labeltext.style.display = 'none'
          };

          // Read the selected file as a data URL and load it into the img tag
          reader.readAsDataURL(input.files[0]);
        } else {
          // If no file was selected or the browser doesn't support FileReader, clear the image
          img.src = "";
        }
      }
</script>
<%-include("../layout/footer")-%>