<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treassure Cart</title>
    <link rel="stylesheet" href="/static/css/admin-head.css" />
    <link rel="stylesheet" href="/static/css/orders.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <%-include('../partials/admin-sample-nav')-%>
    <%orders.forEach((data)=>{%>
        <div class="modal fade" id="viewOrderDetails<%=data._id%>" tabindex="-1" role="dialog" aria-labelledby="viewOrderDetailsLabel<%=data._id%>" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <!-- <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body">
                <%data.itemsDetails.forEach((item)=>{%>
                <div class="card mt-2 mb-2 ">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-4"><img src="<%=item.images[0].mainimage?'/static/product-images/'+item.images[0].mainimage:'/static/images/img-bg.jpg'%>" alt="img" width="100px" height="100px"></div>
                            <div class="col-8">
                                <span>ID: <%=item._id%></span><br>
                                <span>Name: <%=item.name%></span><br>
                                <span>Price: ₹<%=item.descountedPrice%>/-</span><br>
                                <span>Quantity: ₹<%=item.quantity%>/-</span><br>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2 mb-2 ">
                    <div class="container-fluid ">
                        <div class="row">
                            <h3>Shipping Adddress</h3>
                            <table>
                                <tr>
                                    <td>Name:</td>
                                    <td><%=data.address.name%></td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td><%=data.address.address%></td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td><%=data.address.city%></td>
                                </tr>
                                <tr>
                                    <td>Pincode:</td>
                                    <td><%=data.address.pincode%></td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td><%=data.address.state%></td>
                                </tr>
                                <tr>
                                    <td>Phone:</td>
                                    <td><%=data.address.mobile%></td>
                                </tr>
                            </table>
                             

                        </div>
                    </div>
                </div>

                <%})%>
                    
              </div>
              <div class="modal-footer">
                <button style="background-color: black;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
                <!-- <a href="/admin/brand/delete/<%=data._id%>" class="btn btn-danger">Delete</a> -->
              </div>
            </div>
          </div>
        </div>
        <%})%>
        <section class="main">
            <div class="container">
                <div class="row d-flex header">
                    <div class="col-6">
                        <h2>Orders</h2>
                    </div>
                    <!-- <div class="col-6 d-flex justify-content-end"><a href="/admin/add-brand" class="btn-custom">Add Brands</a></div> -->
                </div>

                <div class="row mt-3">
                    <div class="products-main col-12">
                        <div class="search col-12">
                            <!-- <div class="d-flex justify-content-end align-items-center">
                                <form action="/admin/order/search" method="post">
                                    <div class="input-group">
                                        <div class="form-outline d-flex p-3">
                                            <input type="search" class="form-control" name="search"
                                                placeholder="Search">
                                            <button id="search-button" type="submit" class="btn btn-custom  mx-2"
                                                style="width: 40px;height: 40px;border-radius: 6px;">

                                                <lord-icon src="https://cdn.lordicon.com/rlizirgt.json" trigger="hover"
                                                    colors="primary:#ffffff" style="width:25px;height:25px">
                                                </lord-icon>
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div> -->
                            <%if(Array.isArray(orders)){%>
                                <table class="table  table-shadow table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sr No.</th>
                                            <th scope="col">Order ID</th>
                                            <th scope="col">Customer ID</th>
                                            <th scope="col">Ordered Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Payment Method</th>
                                            <th scope="col">Payment Status</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <%orders.forEach((data)=>{%>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <%= ++x %>
                                                </td>
                                                <td>
                                                    <a href="" data-bs-toggle="modal" data-bs-target="#viewOrderDetails<%=data._id%>" style="text-decoration: none;"><%= data._id %></a>
                                                </td>
                                                <td>
                                                    <%= data.userId %>
                                                </td>
                                                <td>
                                                    <% const orderDate=new Date(data.orderDate); %>
                                                        <%= orderDate.toLocaleString('default', { month: 'short' }) %>
                                                            <%= orderDate.getDate() %>,
                                                                <%= orderDate.getFullYear() %>
                                                                    <%= orderDate.toLocaleTimeString([], {
                                                                        hour: '2-digit' , minute: '2-digit' }) %>
                                                </td>
                                                <td>
                                                    <%if(data.status !== 'Cancelled' && data.status !=='Returned') { %>
                                                    <% const currentStatus=data.status || 'Order Placed' ; %>
                                                        <select <%if(currentStatus==='Delivered'||currentStatus==='Rejected'){%>disabled<%}%>
                                                         class="form-select  
                                                         <%if(currentStatus==='Order Placed'){%>bg-info text-white<%}%>
                                                         <%if(currentStatus==='Shipped'){%>bg-primary text-white<%}%>
                                                         <%if(currentStatus==='Shipped'){%>bg-primary text-white<%}%>
                                                         <%if(currentStatus==='Delivered'){%>bg-success text-white<%}%>
                                                         <%if(currentStatus==='Rejected'){%>bg-danger text-white<%}%>
                                                         " 
                                                         
                                                         
                                                         
                                                         
                                                         
                                                         
                                                         
                                                         
                                                         
                                                         id="statusSelect"
                                                            onchange="updateOrderStatus('<%= data._id %>', this.value)">
                                                            <option value="Order Placed"
                                                                <%=currentStatus==='Order Placed' ? 'selected' : '' %>
                                                                >Order Placed</option>
                                                            <option value="Shipped" <%=currentStatus==='Shipped'
                                                                ? 'selected' : '' %>>Shipped</option>
                                                            <option value="Delivered" <%=currentStatus==='Delivered'
                                                                ? 'selected' : '' %>>Delivered</option>
                                                            <option value="Rejected" <%=currentStatus==='Rejected'
                                                                ? 'selected' : '' %>>Rejected</option>
                                                        </select>

                                                        <% } else { %>
                                                            <div class="table-data1 ">
                                                            <span class="bg-danger  text-white p-2 rounded-2 "><%=data.status%></span>
                                                            </div>
                                                            <% } %>

                                                </td>
                                                <td >
                                                    <div class="table-data1 ">
                                                        <%if(data.payMethod=="cod"){%>
                                                            <span class="bg-info  text-white p-2 rounded-2 "><%= data.payMethod.toUpperCase() %></span>
                                                            <%}else{%>
                                                                <span class="bg-primary  text-white p-2 rounded-2 "><%= data.payMethod.toUpperCase() %></span>
                                                                <%}%>
                                                      </div>
                                                    
                                                </td>

                                                <td >
                                                    <div class="table-data1 ">
                                                        <%if(data.paymentStatus=="Paid"){%>
                                                            <span class="bg-success text-white p-2 rounded-2 ">                                                  
                                                                <%= data.paymentStatus.toUpperCase() %>
                                                            </span>
                                                            <%}else{%>
                                                                <span class="bg-warning   text-white p-2 rounded-2 ">
                                                                    <%= data.paymentStatus.toUpperCase() %>
                                                                </span>
                                                                <%}%>
                                                      </div>
                                                </td>
                                                <td>
                                                    ₹<%= data.totalPrice.toLocaleString() %>/-
                                                </td>
                                                

                                            </tr>

                                        </tbody>
                                        <% })%>


                                </table>
                                <%}else{%>
                                    <h1>nothing here to see</h1>
                                    <%}%>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <hr>
        <br>
        <div class="col-lg-12 d-flex justify-content-end">
            <nav aria-label="page navigation example ">
                <ul class="pagination" style="margin-right: 40px;">
                    <%for(let i=1;i<=count;i++){%>
                        <li class="page-item"><a class="page-link" href="/admin/orders?page=<%=i%>">
                                <%=i%>
                            </a></li>
                        <%}%>

                </ul>
            </nav>
        </div>
        <script>
            function updateOrderStatus(orderId, newStatus) {
                console.log("changed");
          fetch(`/admin/updateStatus/${orderId}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ status: newStatus }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                alert('Order status updated successfully!');
                window.location.reload()
              } else {
                alert('Failed to update order status.');
              }
            })
            .catch((error) => {
              console.error('Error:', error);
            });
        }
        

        </script>
        <style>
            a {
                text-decoration: none;
                color: #191919;
            }
        </style>
        <%-include('../layout/footer')-%>