<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/static/css/product.css" /> -->
  <%-include('../layout/header_links')-%>
</head>

<body id="body">
  <%-include('../partials/header')-%>
    <%-include('../Alerts/addToCart')-%>
      <%-include('../Alerts/outOfStock')-%>
        <%-include('../Alerts/LoginAlert')-%>

          <br><br>
          <section>
            <div class="container-fluid ">
              <div class="row p-3 ">
                <div class="row">
                  <div class="col-md-9 ms-3 ">
                    <h3 class="mb-4"><%=brand?brand:'Our Shop'%></h3>
                  </div>
                  <div class="col-md-2 d-flex justify-content-around ">
                    
                    <div class="sort">
                      <div class="btn-group">
                        <button type="button" class="btn btn-info ">Sort by</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/products/brand/<%=brandId%>?key=low">Low to high</a></li>
                          <li><a class="dropdown-item" href="/products/brand/<%=brandId%>?key=high">High to Low</a></li>
                          <li><a class="dropdown-item" href="/products/brand/<%=brandId%>?key=abc">Alphabetical (a-z)</a></li>
                          <li><a class="dropdown-item" href="/products/brand/<%=brandId%>?key=cba">Alphabetical (z-a)</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <%if(product.length>0){%>
                <% product.forEach(product=> { %>
                  <div class="col-md-3 mt-3 mb-3 ">

                    <div class="product-card shadow-lg p-3 bg-body rounded-3">
                      <% if (product.stock> 0) { %>
                        <span class="bg-success z-3   text-white p-2 rounded ">In Stock</span>
                        <% } else { %>
                          <span class="bg-danger z-3 text-white p-2 rounded ">Out of Stock</span>

                          <% } %>
                            <a href="/product/details/<%= product._id%>" style="text-decoration: none;">
                              <div class="d-flex justify-content-center mt-2 " >
                                <img width="200px" height="200px"
                                    src="<%=product.images.length>0?'/static/CroppedImages/product-images/'+product.images[0].mainimage:'/static/images/img-bg.jpg'%>"
                                    alt="">
                              </div>
                              <div class="product-card-body">
                                <h5 class="product-name d-flex justify-content-center">
                                  <%= product.name %>
                                </h5>
                                <div class="d-flex justify-content-center align-items-center ">
                                  <span class="me-1 text-danger"><s>₹<%=product.basePrice.toLocaleString()%></s></span>
                                  <h4 class="mb-1 me-1 text-success ">₹<%=product.descountedPrice.toLocaleString()%>/-
                                  </h4>
                                </div>
                              </div>
                            </a>
                            <div class="mt-2 d-flex justify-content-around  ">
                              <div class="mt-4">
                                <%if(user){%>
                                  <%if(product.stock>0){%>
                                    <button onclick="addtoCart('<%= product._id %>')" class="btn btn-primary shadow-0"
                                      type="button">Add to cart</button>
                                    <a href="#!" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"
                                      data-product-id="<%= product._id %>">
                                      <i
                                        class="fa fa-heart <% if (wishlist.find(item => item.productId.equals(product._id))) { %>text-danger<% } %>"></i>
                                    </a>
                                    <%}else{%>
                                      <button onclick="showalert()" class="btn btn-primary shadow-0" type="button">Add to
                                        cart</button>
                                      <a href="#!" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"
                                        data-product-id="<%= product._id %>">
                                        <i
                                          class="fa fa-heart <% if (wishlist.find(item => item.productId.equals(product._id))) { %>text-danger<% } %>"></i>
                                      </a>
  
                                      <%}%>
                                  <%}else{%>
                                    <button onclick="showwarning()" class="btn btn-primary shadow-0" type="button">Add to
                                      cart</button>
                                      <button onclick="showwarning()" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"
                                      data-product-id="">
                                      <i
                                        class="fa fa-heart "></i>
                                      </button>
                                    <%}%>
                              </div>
                            </div>
                    </div>
                  </div>
                  <% }); %>
                  <%}else{%>
                    <div class="col-12 d-flex justify-content-center">
                      <img  src="/static/images/error.jpg" alt="404 Image" style="height: 300px;">
                    </div>
                    <%}%>
              </div>
            </div>
          </section>

          <script src="/static/js/productManupulation.js"></script>


          <%-include('../partials/footer')-%>
            <%-include('../layout/footer')-%>