<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%-include('../layout/header_links')-%>
  <script src="/static/js/home.js"></script>
</head>

<body id="body">
  <%-include('../partials/header')-%>
    <%-include('../partials/slider')-%>
      <%-include('../Alerts/addToCart')-%>
        <%-include('../Alerts/outOfStock')-%>
          <div class="py-3 py-md-5 bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="mb-4">Explore</h3>
                </div>
                <% product.forEach(product=> { %>
                  <div class="col-md-3 mt-3 mb-3 ">

                    <div class="product-card shadow-lg p-3 bg-body rounded-3">
                      <% if (product.stock> 0) { %>
                        <label class="stock bg-succes  ">In Stock</label>
                        <% } else { %>
                          <label class="stock bg-danger">Out of Stock</label>
                          <% } %>
                            <a href="/product/details/<%= product._id%>" style="text-decoration: none;">
                              <div class="product-card-img" style="padding: 30px;">
                                <td><img width="200px" height="200px"
                                    src="<%=product.images[0].mainimage?product.images[0].mainimage:'/static/images/img-bg.jpg'%>"
                                    alt=""></td>
                              </div>
                              <div class="product-card-body">
                                <p class="product-brand ">
                                  <%= product.brand %>
                                </p>
                                <h5 class="product-name d-flex justify-content-center">

                                  <%= product.name %>

                                </h5>
                                <div class="d-flex justify-content-center align-items-center ">
                                  <span class="text-danger"><s>₹<%=product.basePrice%></s></span>
                                  <h4 class="mb-1 me-1">₹<%=product.descountedPrice%>
                                  </h4>
                                </div>
                              </div>
                            </a>
                            <div class="mt-2 d-flex justify-content-around  ">
                              <div class="mt-4">
                                <%if(product.stock>0){%>
                                  <button onclick="addtoCart('<%= product._id %>')" class="btn btn-primary shadow-0"
                                    type="button">Add to cart</button>
                                  <a href="#!" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"
                                    data-product-id="<%= product._id %>">
                                    <i
                                      class="fa fa-heart <% if (wishlist.find(item => item.productId.equals(product._id))) { %>text-danger<% } %>"></i>
                                  </a>
                                  <%}else{%>
                                    <button onclick="showalert()" class="btn btn-primary shadow-0" type="button">Add to
                                      cart</button>
                                    <a href="#!" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"
                                      data-product-id="<%= data._id %>">
                                      <i
                                        class="fa fa-heart <% if (wishlist.find(item => item.productId.equals(product._id))) { %>text-danger<% } %>"></i>
                                    </a>

                                    <%}%>
                              </div>
                            </div>
                    </div>
                  </div>
                  <% }); %>
              </div>
              
            </div>
          </div>
          <%-include('../partials/footer')-%>

<%-include('../layout/footer')-%>