<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><title>Treasure Cart</title>
    <%-include('../layout/header_links')-%>
</head>

<body id="body">
    <%-include('../partials/header')-%>
    <%-include('../partials/slider')-%>
    <%-include('../partials/footer')-%>
    <%-include('../layout/footer')-%>

