<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><title>Treasure Cart</title>
    <%-include('../layout/header_links')-%>
</head>

<body id="body">
    <%-include('../partials/header')-%>
    <%-include('../partials/slider')-%>
    <div class="toast bg-light  start-50 translate-middle-x" style="position: fixed;bottom: 10px;z-index: 9999; background-color: #0b5ed7;" id="toastCart" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-success ">
        <!-- <img src="..." class="rounded me-2" alt="..."> -->
        <strong class="me-auto text-light ">Treasure Cart</strong>
        <!-- <small>11 mins ago</small> -->
        <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
      </div>
      <div class="toast-body text-dark ">
        Product Added to cart
      </div>
    </div>
    <div class="toast bg-light  start-50 translate-middle-x" style="position: fixed;bottom: 10px;z-index: 9999; background-color: #0b5ed7;" id="alertstock" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-danger  ">
        <!-- <img src="..." class="rounded me-2" alt="..."> -->
        <strong class="me-auto text-light ">Treasure Cart</strong>
        <!-- <small>11 mins ago</small> -->
        <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
      </div>
      <div class="toast-body text-dark ">
        Product is out of stock
      </div>
    </div>
    <div class="py-3 py-md-5 bg-light">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h3 class="mb-4">Explore</h3>
              </div>

              <% product.forEach(product=> { %>
                  <div class="col-md-3 mt-3 mb-3 ">
                      
                      <div class="product-card shadow-lg p-3 bg-body rounded-3">
                          <% if (product.stock > 0) { %>
                              <label class="stock bg-succes  ">In Stock</label>
                          <% } else { %>
                              <label class="stock bg-danger">Out of Stock</label>
                          <% } %>
                          <a href="/product/details/<%= product._id%>" style="text-decoration: none;">
                              <div class="product-card-img" style="padding: 30px;">
                                
                                 

                                  <td><img width="200px" height="200px" src="<%=product.images[0].mainimage?'/static/product-images/'+product.images[0].mainimage:'/static/images/img-bg.jpg'%>" alt=""></td>
                              </div>
                              <div class="product-card-body">
                                  <p class="product-brand ">
                                      <%= product.brand %>
                                  </p>
                                  <h5 class="product-name d-flex justify-content-center">

                                      <%= product.name %>

                                  </h5>
                                  <div class="d-flex justify-content-center align-items-center ">
                                    <span class="text-danger"><s>₹<%=product.basePrice%></s></span>
                                    <h4 class="mb-1 me-1">₹<%=product.descountedPrice%></h4>
                                    

                                  </div>
                          </a>
                          <div class="mt-2 d-flex justify-content-around  ">
                            
                              <div class="mt-4">
                                <%if(product.stock>0){%>
                                <button onclick="addtoCart('<%= product._id %>')" class="btn btn-primary shadow-0" type="button">Add to cart</button>
                                <a href="#!" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"  data-product-id="<%= product._id %>">
                                  <i class="fa fa-heart <% if (wishlist.find(item => item.productId.equals(product._id))) { %>text-danger<% } %>"></i>
                                </a>
                              <%}else{%>
                                <button onclick="showalert()" class="btn btn-primary shadow-0" type="button">Add to cart</button>
                                <a href="#!" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"  data-product-id="<%= data._id %>">
                                  <i class="fa fa-heart <% if (wishlist.find(item => item.productId.equals(product._id))) { %>text-danger<% } %>"></i>
                                </a>
                                
                                  <%}%>
                              </div>

              
                          </div>
                      </div>
                  </div>
          </div>
          <% }); %>
      </div>
  </div>


  <script>
    function addtoCart(productId) {
              var element=document.getElementById("toastCart");
              var option={
                animation:true,
                delay:2000,
                autohide: true
              }
              var toastElement=new bootstrap.Toast(element, option)
              
          console.log("hello");

          $.ajax({
            url: '/addtoCart',
            method: 'POST',
            data: {
              productId: productId,
            },
            success: function (response) {
              // alert("product added to the cart")
              // window.location.reload();
              console.log(response);

              toastElement.show()
            },
            error: function (error) {
              console.error('Error while product added to the cart:', error);
            }
          });
        
      }
      function showalert(){
        var element=document.getElementById("alertstock");
              var option={
                animation:true,
                delay:2000,
                autohide: true
              }
              var toastElement=new bootstrap.Toast(element, option)
              toastElement.show()
      }
      document.querySelectorAll('.add-to-wishlist-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();


                const productId = this.getAttribute('data-product-id');
                const icon = this.querySelector('.fa-heart');

                $.ajax({
                    url: '/wishlist/',
                    method: 'POST',
                    data: {
                        productId: productId,
                    },
                    success: function (response) {
                        console.log(icon.style.color)
                        if (response.added) {
                            icon.classList.add('text-danger')
                          
                        } else {
                            icon.classList.remove('text-danger')
                        }
                    },
                    error: function (error) {
                        console.error('Error updating wishlist:', error);
                    }
                });
            });
        });
  </script>


    <%-include('../partials/footer')-%>
    <%-include('../layout/footer')-%>

