<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        
  <%-include('../layout/header_links')-%>
  <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
    </head>
</head>

<body>
    <%-include('../partials/header')-%>
    <%-include('../Alerts/addToCart')-%>
    <%-include('../Alerts/outOfStock')-%>
    <%-include('../Alerts/LoginAlert')-%>

        <section class="py-5">
            <div class="container">
                <div class="row gx-5">
                    <aside class="col-lg-6">
                        <div class="border rounded-4 mb-3 d-flex justify-content-center" id="img-show">
                            <img  style="max-width: 100%; max-height: 70vh; margin: auto;" class="rounded-4 fit"
                            src="<%=data.images[0].mainimage?'/static/product-images/'+data.images[0].mainimage:'/static/images/img-bg.jpg'%>" />

                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank"
                                data-type="image"
                                href="<%=data.images[0].mainimage?'/static/product-images/'+data.images[0].mainimage:'/static/images/img-bg.jpg'%>"
                                class="item-thumb">
                                <img width="60" height="60" class="rounded-2"
                                    src="<%=data.images[0].mainimage?'/static/product-images/'+data.images[0].mainimage:'/static/images/img-bg.jpg'%>" />
                            </a>
                            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank"
                                data-type="image"
                                href="<%=data.images[0].image1?'/static/product-images/'+data.images[0].image1:'/static/images/img-bg.jpg'%>"
                                class="item-thumb">
                                <img width="60" height="60" class="rounded-2"
                                    src="<%=data.images[0].image1?'/static/product-images/'+data.images[0].image1:'/static/images/img-bg.jpg'%>" />
                            </a>
                            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank"
                                data-type="image"
                                href="<%=data.images[0].image2?'/static/product-images/'+data.images[0].image2:'/static/images/img-bg.jpg'%>"
                                class="item-thumb">
                                <img width="60" height="60" class="rounded-2"
                                    src="<%=data.images[0].image2?'/static/product-images/'+data.images[0].image2:'/static/images/img-bg.jpg'%>" />
                            </a>
                        </div>
                    </aside>
                    <main class="col-lg-6">
                        <div class="ps-lg-3">
                            <h4 class="title text-dark">
                                <%=data.name%>
                            </h4>
                            <div class="d-flex flex-row my-3">

                                <%if(data.stock>0){%>
                                    <h6 class="text-success">In stock</h6>
                                    <%}else{%>
                                        <h6 class="text-danger">out of stock</h6>
                                        <%}%>
                            </div>

                            <div class="mb-3">
                                <span class="h6 text-danger"><strike>₹<%=data.basePrice.toLocaleString()%></strike></span>
                                <span class="h3 text-success"><b>₹<%=data.descountedPrice.toLocaleString()%>/-</b></span>
                            </div>

                            <p>
                                <%=data.description%>
                            </p>

                            <div class="row">
                                <dt class="col-3">Category:</dt>
                                <dd class="col-9">
                                    <%=category?.name?category.name:"unknown"%>
                                </dd>

                                <dt class="col-3">Brand:</dt>
                                <dd class="col-9">
                                    <%=brand?.name?brand.name:"unknown"%>
                                </dd>

                                <dt class="col-3">Status</dt>
                                <%if(data.stock>0){%>
                                    <dd class="col-9 text-success">
                                        In stock</dd>
                                    <%}else{%>
                                        <dd class="col-9 text-danger">
                                            out of stock</dd>
                                        <%}%>
                                            
                            </div>

                            <hr />

                            <!-- <div class="row mb-4">
                                <div class="col-md-4 col-6 mb-3">
                                    <label class="mb-2 d-block">Quantity</label>
                                    <div class="input-group mb-3" style="width: 170px;">
                                        <button class="btn btn-white border border-secondary px-3" type="button"
                                            id="button-addon1" data-mdb-ripple-color="dark">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input type="text" class="form-control text-center border border-secondary"
                                            placeholder="14" aria-label="Example text with button addon"
                                            aria-describedby="button-addon1" />
                                        <button class="btn btn-white border border-secondary px-3" type="button"
                                            id="button-addon2" data-mdb-ripple-color="dark">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <a href="#" class="btn btn-warning shadow-0 text-white"> Buy now </a> -->
                            <%if(user){%>
                                <%if(data.stock>0){%>
                                    <button onclick="addtoCart('<%= data._id %>')"  class="btn btn-primary shadow-0 text-white"> <i class="me-1 fa fa-shopping-cart"></i> Add
                                        to cart </button>
                                        
                                        <a href="#!" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"
                                        data-product-id="<%= data._id %>">
                                        <i
                                          class="fa fa-heart <% if (wishlist.find(item => item.productId.equals(data._id))) { %>text-danger<% } %>"></i> 
                                          <span class="lablewish">Save to wishlist</span>
                                      </a>
                                <%}else{%>
                                    <button onclick="showalert()" class="btn btn-primary shadow-0 text-white"> <i class="me-1 fa fa-shopping-cart"></i> Add
                                        to cart </button>
                                        <a href="#!" class="btn btn-light  border px-2 pt-2 add-to-wishlist-button"
                                        data-product-id="<%= data._id %>">
                                        <i
                                          class="fa fa-heart <% if (wishlist.find(item => item.productId.equals(data._id))) { %>text-danger<% } %>"></i> 
                                          <span class="lablewish">Save to wishlist</span>
                                      </a>
                                <%}%>  
                                <%}else{%>
                                    <button onclick="showwarning()"  class="btn btn-primary shadow-0 text-white"> <i class="me-1 fa fa-shopping-cart"></i> Add
                                        to cart </button>
                                    <button onclick="showwarning()" class="btn btn-light border border-secondary py-2 px-3"> <i
                                            class="me-1 fa fa-heart"></i> Save to Wishlist </a>
                                    <%}%>  
                        </div>
                    </main>
                </div>
            </div>
        </section>

        <style>
            .icon-hover:hover {
                border-color: #3b71ca !important;
                background-color: white !important;
                color: #3b71ca !important;
            }

            .icon-hover:hover i {
                color: #3b71ca !important;
            }
        </style>
        <script src="/static/js/productManupulation.js"></script>
<script>
    var options = {
        width: 400,
        zoomWidth: 600,
        offset: { vertical: 0, horizontal: 100 }
    };
    new ImageZoom(document.getElementById("img-show"), options);
</script>

<%-include('../partials/footer')-%>
<%-include('../layout/footer')-%>