<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../layout/header_links')-%>
</head>
<body>
    <%-include('../partials/header')-%>
 
    <div class="container-xl px-2 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="/profile" >Profile</a>
            <a class="nav-link  " href="/manage-address" >Addresses</a>
            <!-- <a class="nav-link" href="#">Reset Password</a> -->
            <a class="nav-link " href="/order-history" >My Orders</a>
      
        </nav>
        <hr class="mt-0 mb-4">
    <form action="/edit" method="post" enctype="multipart/form-data">

        <div class="row">

            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <label for="main">
                            <div class="img-main rounded-circle" style="background-color: #e9ecef;">
                                <img id="mn" class="img-account-profile rounded-circle mb-2" src="<%=UserData.profile[0].mainimage?'/static/product-images/'+UserData.profile[0].mainimage:'http://bootdey.com/img/Content/avatar/avatar1.png'%>" alt="">
                            </div>
                          </label>
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <input type="file" onchange="previewImage('main', 'mn')" name="main" accept="image/*" id="main" class="btn btn-primary" style="display: none;">
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                                <input class="form-control-cus" id="inputUsername" type="text" placeholder="Enter your username" name="name" value="<%=UserData.userName%>" required>
                            </div>
                            <!-- Form Row-->
                            <!-- <div class="row gx-3 mb-3"> -->
                                <!-- Form Group (first name)-->
                                <!-- <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="Valerie">
                                </div> -->
                                <!-- Form Group (last name)-->
                                <!-- <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="Luna">
                                </div>
                            </div> -->
                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input disabled class="form-control-cus" id="inputEmailAddress" name="email" type="email" placeholder="Enter your email" value="<%=UserData.email%>">
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control-cus" id="inputPhone" type="number" name="phone" maxlength="10" placeholder="Enter your 10 digit phone number" value="<%=UserData.phone?UserData.phone:0%>"  >
                                </div>
                                <!-- Form Group (birthday)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">DOB</label>
                                    <%var date=UserData.dob.toString().slice(0, 10)%>
                                    <input class="form-control-cus" id="dob" type="date" name="dob" placeholder="DD-MM-YYYY" value="<%=date%>" required>

                                </div>
                                <!-- <input type="date" name="date" id="date" 
             required 
            style="padding: 5px; border-radius: 5px;  
            border: 1px solid #ccc; margin-bottom: 10px;"> -->
                            </div>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>

    </div>





    













<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control-cus, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
    </style>
    <script>
        function previewImage(inputId, imgId) {
        const input = document.getElementById(inputId);
        const img = document.getElementById(imgId);
        // const labeltext = document.getElementById(label)
        // Check if a file was selected
        if (input.files && input.files[0]) {
          const reader = new FileReader();
          // Set up a function to run when the image is loaded
          reader.onload = function (e) {
            img.src = e.target.result;
            labeltext.style.display = 'none'
          };
          // Read the selected file as a data URL and load it into the img tag
          reader.readAsDataURL(input.files[0]);
        } else {
          // If no file was selected or the browser doesn't support FileReader, clear the image
          img.src = "";
        }
      }
    </script>
    <%-include('../partials/footer')-%>
    <%-include('../layout/footer')-%>
