<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <%-include('../layout/header_links')-%>
    <link rel="stylesheet" type="text/css" href="/static/css/cart.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <title>Treasure Cart</title> -->
</head>
<%-include('../partials/header')-%>
  <body class="bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-11 mx-auto">
          <div class="row mt-5 gx-3">
            <!-- left side div -->
            <div class="col-md-12 col-lg-8 col-11 mx-auto main_cart mb-lg-5 mb-5 shadow">
              <!--  productlist  for each place -->
              <%if(Array.isArray(data)){%>

                <div class="card p-4">
                  <h2 class="py-4 font-weight-bold">Cart (<%=data.length%> items)</h2>
                  <%data.forEach((data)=>{%>
                    <div class="row">
                      <!-- cart images div -->
                      <div
                        class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
                        <img
                          src="<%=data.productId.images[0].mainimage?'/static/CroppedImages/product-images/'+data.productId.images[0].mainimage:'/static/images/img-bg.jpg'%>"
                          class="img-fluid" alt="cart img">
                      </div>
                      <!-- cart product details -->
                      <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                        <div class="row">
                          <!-- product name  -->
                          <div class="col-8 card-title">
                            <h1 class="mb-4 product_name">
                              <%=data.productId.name%>
                            </h1>
                            <p class="mb-2">
                              <%=data.productId.description%>
                            </p>
                            <p class="mb-2" style="font-size: 1rem;">Price: <span style="font-size: 1.3rem;color: red;">₹<%=data.productId.descountedPrice%></span>
                            </p>
                            <!-- <p class="mb-3">SIZE: M</p> -->
                          </div>
                          <!-- quantity inc dec -->
                          <div class="col-4">
                            <ul class="pagination justify-content-end set_quantity">
                              <li class="page-item">
                                <button class="page-link decrease-quantity" data-product-id="<%=data.productId._id%>"
                                  onclick="quantityChanger('<%= data.productId._id %>',-1,'<%= cart._id %>','<%=data.quantity%>','<%=data.productId.stock%>')">
                                  <i class="fas fa-minus"></i> </button>
                              </li>
                              <%if(data.quantity<data.productId.stock){%>
                              <li class="page-item"><input type="text" data-min-value="1"
                                  data-available-quantity="<%= data.productId.stock %>"
                                  id="count_<%=data.productId._id %>" name="" class="page-link"
                                  value="<%=data.quantity%>">
                              </li>
                              <%}else{%>
                                <li class="page-item"><input type="text" data-min-value="1"
                                  data-available-quantity="<%= data.productId.stock %>"
                                  id="count_<%=data.productId._id %>" name="" class="page-link"
                                  value="<%=data.productId.stock%>">
                              </li>
                                <%}%>
                              <li class="page-item">
                                <button class="page-link increase-quantity" data-product-id="<%=data.productId._id%>"
                                  onclick="quantityChanger('<%= data.productId._id %>',1,'<%= cart._id %>','<%=data.quantity%>','<%=data.productId.stock%>')">
                                  <i class="fas fa-plus"></i></button>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- //remover move and price -->
                        <div class="row">
                          <div class="col-8 d-flex justify-content-start remove_wish">
                            <div id="trash" class="d-flex justify-content-center align-items-center action-btn mx-3"><a href="#"onclick="removeFromCart('<%= data.productId._id %>','<%= cart._id %>')"><i class="fas fa-trash-alt"></i> <span>Remove</span></a></div>
                            <div class="d-flex justify-content-center align-items-center action-btn"><a href=""><i class="fas fa-heart"></i></a></div>

                          </div>
                          <!-- <div class="col-4 d-flex justify-content-end price_money">
                            <h3>$<span id="totalPrice" st>0.00 </span></h3>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <hr />
                    <%})%>
                </div>


                <%}else{%>
                  <h2>nothing to show here!!Cart is empty</h2>
                  <%}%>

            </div>
            <!-- right side div -->
            <div class="col-md-12 col-lg-4 col-11 mx-auto mt-lg-2 mt-md-5">
              <div class="right_side p-3 shadow bg-white">
                <h2 class="product_name mb-5">The Total</h2>
                <div class="price_indiv d-flex justify-content-between">
                  <p>Total Product</p>
                  <p><span id="totalQuantityValue"><%=totalQuantity%></span></p>
                </div>
                <div class="price_indiv d-flex justify-content-between">
                  <p>Sub Total</p>
                  <p>₹<span id="subtotalAmount"><%=parseFloat(subtotal).toLocaleString()%></span></p>
                </div>
                <div class="price_indiv d-flex justify-content-between">
                  <p>Tax</p>
                  <p>₹<span id="gstAmount"><%=parseFloat(gstAmount).toLocaleString()%></span></p>
                </div>
                <hr />
                <div class="total-amt d-flex justify-content-between font-weight-bold">
                  <p>The total amount (including GST)</p>
                  <p>₹<span id="totalPrice" class="text-success " style="font-size: 1.2rem;font-weight: 800;"><%=parseFloat(total).toLocaleString()%>/-</span></p>
                </div>
                <a href="/checkout-req" class="btn btn-primary text-uppercase">Checkout</a>
              </div>
              <!-- discount code part -->
              <!-- <div class="discount_code mt-3 shadow">
                <div class="card">
                  <div class="card-body">
                    <a class="d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
                      aria-expanded="false" aria-controls="collapseExample">
                      Add a discount code (optional)
                      <span><i class="fas fa-chevron-down pt-1"></i></span>
                    </a>
                    <div class="collapse" id="collapseExample">
                      <div class="mt-3">
                        <input type="text" name="" id="discount_code" class="form-control font-weight-bold"
                          placeholder="Enter the discount code">
                      </div>
                      <a class="btn btn-primary btn-sm mt-3" onclick="applyCoupon('<%=parseFloat(total)%>')">Apply</a>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- discount code ends -->
              <%if(expectedDeliveryDate!==null){%>
              <div class="mt-3 shadow p-3 mb-lg-5 bg-white">
                <div class="pt-4">
                  <h5 class="mb-4">Expected delivery date</h5>
                  <p>
                    <%=expectedDeliveryDate%>
                  </p>
                </div>
              </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"></script>

    <script type="text/javascript">
       function applyCoupon(total) {
    const couponCode = document.getElementById('couponCode').value;
    // const total = parseFloat(document.getElementById('totalPrice').innerText.replace('₹', ''));
   
    $.ajax({
      url: '/apply-coupon', 
      method: 'POST',
      data: { couponCode: couponCode, total: total },
      success: function (response) {
        console.log(response);
        if (response.success) {
        
          const couponInfoElement = document.getElementById('couponInfo');
        if (response.discount) {
          couponInfoElement.innerHTML = `Coupon: ${response.discount}`;
        } else {
          couponInfoElement.innerHTML = `<b>No Coupon</b>`;
        }
          document.getElementById('totalPrice').innerText = `₹${response.grandTotal}`;
        } else {
          alert(response.error);
        }
      },
      error: function (error) {
        alert(response.error)
        console.error('Error applying coupon:', error);
      }
    });

  }
      function quantityChanger(productId, count, cartId, curent, avail) {
        var quantityElement = document.getElementById("count_" + productId);
        var currentQuantity = Number(quantityElement.value)
        console.log(avail);
        console.log(curent);


        
          if (count === 1 && avail > currentQuantity) {

            currentQuantity += 1;
            quantityElement.value = currentQuantity;
            console.log("count increased...")
          } else if (count === -1 && currentQuantity > 1) {
            currentQuantity -= 1;
            quantityElement.value = currentQuantity;
            console.log("count decreased...")
          }


          $.ajax({
            url: '/updatequantity',
            method: 'POST',
            data: {
              productId: productId,
              quantity: currentQuantity,
              cartId: cartId,
            },
            success: function (response) {
              console.log("Response from the server:", response);

              $('#subtotalAmount').text(parseFloat(response.subtotal).toLocaleString());
              $('#gstAmount').text( parseFloat(response.gstAmount).toLocaleString());
              $('#totalQuantityValue').text(response.totalQuantity);
              $('#totalPrice').text(parseFloat(response.total).toLocaleString());

            }
          });

          console.log("updated quantity successfully");
        

      }


      function removeFromCart(productId, cartId) {
        if (confirm("Are you sure you want to remove this item from your cart?")) {
          $.ajax({
            url: '/removefromcart',
            method: 'POST',
            data: {
              productId: productId,
              cartId: cartId,
            },
            success: function (response) {

              window.location.reload();
            },
            error: function (error) {
              console.error('Error removing product from the cart:', error);
            }
          });
        }
      }

    </script>
    <%-include('../partials/footer')-%>
      <%-include('../layout/footer')-%>